.courseMainDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Card {
  width: 350px;
  border: 1px solid gray;
  border-radius: 30px;
  padding: 30px;
}

.CardDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.CardPrice {
  color: red;
  font-style: italic;
}

.cardDeleteBtn {
  border-radius: 30px;
  padding: 10px;
  border: none;
  width: 200px;
  background-color: rebeccapurple;
  color: white;
}

.RefreshDiv {
  text-align: center;
}

.prevNextBtn {
  border: none;
  background-color: white;
  font-size: 25px;
  color: rebeccapurple;
}

.courseTitleAndButton {
  text-align: center;
  margin-bottom: 20px;
}
